*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(img/img4.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}
.container{
    width: 350px;
    height: 450px;
    border-radius: 10px;
    text-align: center;
    color: white;
    background-color: black;
    margin-left: 60%;
    margin-top: 10%;

}
.container.text{
    position: relative;
    top: 7%;
}
.inp1{
    border:none;
    background-color: black;
    border-bottom: 2px solid white;
    width: 250px;
    font-size: 20px;
    margin-top: 40px;
    outline: none;
    color: white;
}
.inp2{
    border:none;
    background-color: black;
    border-bottom: 2px solid white;
    width: 250px;
    font-size: 20px;
    margin-top: 40px;
    outline: none;
    color: white;
}

.text button{
    width: 250px;
    height: 44px;
    background-color: aqua;
    color: black;
    border: none;
    font-size: 22px;
    border-radius: 25px;
    margin-top: 30px;

}
button:hover{
    border: 3px solid aqua;
    color: white;
    font-size: 20px;
    background-color: black;
}
P{
    margin-top: 30px;
    font-size: 20px;
}
p span{
    color: aqua;
    cursor: pointer;
}